<div class="footer clearfix">
  <div class="contact small-12 medium-6 columns text-center">
    <p>
      Nestor Mata Cuthbert<br />
      Senior Web Developer<br />
      nestor [at] profesional.co.cr
    </p>
  </div>
  <div class="contact small-12 medium-6 columns text-center">
    <p>
      <a href="https://github.com/nestormata">github.com</a><br />
      <a href="https://twitter.com/nestormata">twitter.com</a><br />
      <a href="http://cr.linkedin.com/in/architectwebdeveloper">LinkedIn</a><br />
    </p>
  </div>
</div>
