@media #{$small-only} {
  .hide-small {
    display:none;
  }
}
body {
  background-color: $color-6;
  color: $color-5;
}
div.header {
  display: block;
}
div.top-area {
  display: block;
}
div.right-area {
  display: block;
}
a, a:link, a:visited {
  color: $color-3;
}
.main-nav {
  width: 100%;
  max-width:100%;
  min-height: rem-calc(32);
  line-height: rem-calc(32);
  margin: 0 auto 0;
  color: $color-3;
  background-color: $color-5;
  nav {
    display: block;
    ul {
      min-height: rem-calc(32);
      white-space: nowrap;
      li {
        min-height: rem-calc(32);
        line-height: rem-calc(32);
        padding: 0 0.5em 0 0;
      }
    }
  }
}
.front-slider {
  background-color: $color-3;
  .orbit-slides-container li {
    padding: rem-calc(16) rem-calc(32);
    color: $color-2;
  }
  .slider-container {
    padding-top: rem-calc(16);
    height: rem-calc(180);
    min-height: rem-calc(180);
  }
  .front-page-1 {
    padding-left: 110px;
    background: url('/images/samurai-welcome.png') no-repeat;
  }
}
@media #{$small-only} {
  .front-slider {
    .slider-container {
      padding-top: rem-calc(12);
      height: rem-calc(130);
      min-height: rem-calc(130);
    }
    .front-page-1 {
      padding-left: 80px;
      background-size: 78px 113px;
    }
  }
  body {
    margin-top: rem-calc(40);
  }
  .top-area {
    top: rem-calc(-40);
    position: absolute;
    padding: 0;
    .search-block {
      .block-content {
        padding: 0;
        input {
          margin: 0;
        }
      }
    }
  }
}
div.language-switch {
  display: block;
  margin: 0;
  padding: 0.5em;
  background-color: $color-5;
}
#main {
  background-color: $color-6;
  margin: 0;
  width: 100%;
}
ul.posts {
  margin-left: 0;
  li {
    list-style: none;
  }
  a {
    text-decoration: underline;
  }
}
.post-panel {
  padding-top: 0;
  .date-label {
    display: inline-block;
    top: -1em;
    margin: 0;
  }
}
.mc-field-group ul {
  list-style: none;
}
.block h3 {
  margin-top: 1.25em;
  margin-bottom: 0;
}
.post-page {
  .date-label {
    display: inline-block;
    left: -1.25em;
    font-size:150%;
    @include radius();
    float:left;
    margin-top: 0.5em;
    padding-top: 0;
  }
}
.footer {
  background-color: $color-5;
  color: $color-6;
}
div.social-bar {
  display: block;
  &.panel {
    height: 40px;
    margin: 2em 0 1em 0;
    padding: 0.25em 0 2em 0;
    background-color: #FFF;
  }
  ul {
    width: 100%;
    list-style: none;
    li {
      float: left;
      margin-right: 1em;
      &.gplus-button {
        margin-top: 5px;
      }
      &.twitter-button {
        margin-top: 5px;
      }
      &.linkedin-button {
        margin-top: 5px;
      }
    }
  }
}
.series-panel {
  float: right;
  margin-right: -3em;
  ul {
    list-style: none;
    li {
      border-top: 1px dotted $primary-color;
      margin-bottom: 0.5em;
    }
  }
}
.search-block .block-content {
  padding: 0.5em;
  margin-bottom: 0.25em;
}
.front-thumbnail {
  float: left;
  max-width: 12em;
  margin: 0.5em;
  img {
    max-width: 8em;
    max-height: 6em;
  }
}
@media #{$small-only} {
  .series-panel {
    float: none;
    margin-right: 0;
    width: auto;
  }
  .front-thumbnail {
    float: none;
    width: 100%;
    max-width: none;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
  img {
    max-width: 100%;
  }
  .breadcrumbs {
    li {
      a {
        @include button(rem-calc(5), $color-2, true);
        margin: 0;
      }
    }
  }
  .footer {
    .contact-links {
      a {
        @include button($button-sml, $primary-color, true);
      }
    }
  }
}
@media #{$medium-up} {
  .series-panel {
    width: 50%;
    margin-left: 1em;
  }
}
