/*! responsive-nav.js 1.0.25 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

.nav-collapse li {
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-collapse.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media #{$medium-up} {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@media #{$small-only} {
  .nav-collapse ul {
  }
  .nav-collapse li {
    width: 100%;
  }
  #top-menu-container {
    background-color: $color-6;
    color: $color-5;
    margin: 0;
    padding: 0;
  }
  #top-menu-container > a {
    margin-left: 1em;
  }
  .main-nav nav ul {
    max-height: auto;
    width: 100%;
  }
  .main-nav nav ul li {
    height: auto;
    line-height: auto;
    width: 100%;
    border-top: 1px solid $color-5;
    margin: 0;
    padding-left: 1em;
  }
  .main-nav nav ul li a::before {
    content: "» ";
  }
}
